<div class="bread-crumb">
    <div>    
        <span><a routerLink="/viewadded">View Added items</a></span>
        <span style="color: white;">></span>
        <span>Edit</span>
    </div>
</div>
<div class="container flex">
    <div class="form">
        <form action="" [formGroup]="productForm" (ngSubmit)="updateMyData()">
            <table>
                <tr>
                    <td>Product name:</td>
                    <td>
                        <input type="text" formControlName="name">
                    </td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>
                        <input type="text" formControlName="price">
                    </td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td>
                        <select name="" id="" formControlName="category">
                            <option value="">select</option>
                            <option value="mobiles">Mobiles</option>
                            <option value="smartphones">Smart phones</option>
                            <option value="accessories">Accessories</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    <div class="center">
                        <button type="submit">Update</button>
                    </div>
                    </td>
                </tr>
                
            </table>
        </form>
    </div>
</div>